/*syntax property:value; */
/*global*/

*{
    margin:0;
    padding:0;
}

body{
    font-family: arial;
}

p{
    line-height: 2;
}

a{
text-decoration:none;
color: white;
}

img{
    max-width: 100%;
}

h2,h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*utilities*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn-more{
    display:inline-block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
}

.btn-details{
    display:inline-block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(145, 82, 0);
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;

}

.text-b{
    font-weight: bold;
}

/*header*/
header{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    text-align:center;
    color: white;
    height: 400px;
}
.header-flex{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu a{
    color:white;
    margin-right: 30px;
}

/*main*/
.blog-item{
    border: bottom 1px solid gray;
    margin-top: 20px;
}

.main-flex{
    display: flex;
}
.course-item{
    border-bottom:1px solid gray;
    margin-top: 20px;
}
.blog-container{
    width: 65%;
}
.courses-container{
    width: 35%;
}

.about-us{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    text-wrap: balance;
}

.about-desc{
    font-size: 15px;
    text-align: left;
    margin-left: 20px;
}

.lower-flex{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}
.menu-2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}